*{
  margin: 0;
  padding: 0;
}
/*Fondo de pagina*/
#Fondo{
  margin: 0;
  padding: 0;
  width: 1349px;
  height: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;/*Alinea en eje y */
  justify-content: flex-start;/*Alinea en eje x */
  background-color: #ffffff;
  min-height: 100vh;
}
/* Banner 3Desing*/
.Desing{
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  width: 1349px;
  height: 80px;
  margin: 0px;
  padding: 0px;
  background-image: url("Imagenes y videos/Banner_3Desing.png");
  background-size: 1349px 80px;
  background-repeat: no-repeat;
  }
  .logo_cab{
    margin: 5px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70px;
    height: 70px;
  }
  .logoc{
    
    width: 70px;
    height: 70px;
  }
  .bar{
  width: 100px;
  height: 60px;
  }
  .menu{
    margin-top: 10px;
    width: 1300px;
    height: 60px;

  }

  ul{

    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  li a{
  float: left;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 24px;
  font-family: Rashkey, arial;
  
}
li a:hover{
    color: #efb810;
    transition: ease-in;
   }

   /*Texto (Home)
   p{
    text-align: center;
    font-size: 35px;
    font-family: Rashkey, arial;
    margin-top: 60px;
    margin-bottom:20px;
   }
*/
/* recuadro borde negro */

  .slider{
    width: 500px;
    height: 500px;
    border-radius: 1px;
    overflow: hidden;
  }

  .sliders{
    width: 600%;
    height: 500px;
    display: flex;
   
  }

  .sliders input{
    display: none;
  }

  .slide{
    width: 20%;
    transition: 2s;
  }
  .slide img{
    width: 500px;
    height:500px;
  }

  /*div principal*/
  .espacio-principal{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1rem;
    justify-content: flex-start;
    gap: 0.5em;
    margin: 0rem;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 2px;
  }

  /*div renders*/
.seccion-renders{
  display: flex;
  flex-wrap: wrap;
  background-color: #f4f4f4f1;
  border-radius: 5px;
  margin-left: 1em;
  gap: 1em;
  width: 500px;
  height: 300px;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}
/*titulo de imagenes*/
.titulo-img{
  text-align: center;
  font-size: 0.5em;
  font-family: Rashkey, arial;
  color: #0a0a0a;
}
/*tipos de imagenes*/
.img-horizontal{
  width: 125px;
  height: 70px;
  border: 3px solid #0a0a0a;
  border-radius: 5px;
  margin: 0.1em;
}
.img-horizontal:hover{
  border: 3px solid #efb810;
  transition: ease-in;
 }
.img-vertical{
  width: 110px;
  height: 125px;
  border: 3px solid #0a0a0a;
  border-radius: 5px;
  margin: 0.1em;
}
.img-vertical:hover{
  border: 3px solid #efb810;
  transition: ease-in;
 }
.img-cuadrada{
  width: 100px;
  height: 100px;
  border: 3px solid #0a0a0a;
  border-radius: 5px;
  margin: 0.1em;
}
.img-cuadrada:hover{
  border: 3px solid #efb810;
  transition: ease-in;
 }

 /*div cont-img*/
 .cont-img-4{
  width: 135px;
  height: 100px;
  margin: 0.5em;
 }
 .cont-img-5{
  width: 100px;
  height: 100px;
  margin: 0.5em;
 }
 .cont-img-6{
  width: 125px;
  height: 155px;
  margin: 0.5em;
 }
/*div diseños*/
.seccion-diseños{
  display: flex;
  flex-wrap: wrap;
  background-color: #f4f4f4f1;
  border-radius: 5px;
  margin-left: 1em;
  gap: 1em;
  width: 500px;
  height: 600px;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

/*div videos*/
.seccion-videos{
  display: flex;
  flex-wrap: wrap;
  background-color: #f4f4f4f1;
  border-radius: 5px;
 margin: 1em;
  gap: 1em;
  width: 100%;
  height: 70%;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
}

/* estilos de videos tipo youtube*/
	.contenedor-video{
		display: flex;
    flex-wrap: wrap;
		width: 93%;
    height: 87%;
    padding-top: 0em;
    padding-right: 1em;
    padding-left: 0em;
    padding-bottom: 1em;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
	}
	.colum-der{
    display: flex;
    flex-direction: column;
		width: 28em;
    height: 25em;
    justify-content: center;
    align-content: space-around;
    flex-wrap: nowrap;
    align-items: flex-start;
	}
  /* imagen del video*/
  .img-video{
    margin-top:1em;
    margin-left:2.5em;
    display: flex;
		width: 80%;
    height: 50%;
    border-radius: 0.5rem;
    border: 1px solid #0a0a0a;
    position: relative;
    justify-content: space-evenly;
    align-content: space-around;

  }
  .play-btn{
		width: 60px;
		height: 60px;
    margin-top: -3em;
    margin-left: 11.5em;
		cursor: pointer;
    position: absolute;
	}
  /*texto descriptivo*/
  .Descripcion{
    display: flex;
    margin-top:1em;
    margin-left:2.5em;
    width: 80%;
    height: 15%;
    box-shadow: #0a0a0a;
    border-radius: 0.5em;
    border: 1px solid #0a0a0a;
    background-color: #ffffff;
  }
  .colum-izq{
    display: flex;
    margin-top:0em;
    padding-left: 1em;
    width: 20%;
    height: 80%;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
	}
	
	.peq-img-fila{
		display: flex;
    background-color: #ffffff;
    margin: 1px 0;
    width: 90%;
    height: 75%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    border: 1px solid #0a0a0a;
    flex-wrap: wrap;
    flex-direction: column;
	}
	.peq-img{
		margin-top:0em;
    margin-left:0em;
    display: flex;
		width: 80%;
    height: 50%;
    border-radius: 0.5rem;
    position: relative;
    justify-content: space-evenly;
    align-content: space-around;
	}
	.titulo-peq-img-fila{
    text-align: center;
    font-size: 0.5em;
    font-family: Rashkey, arial;
    color: #0a0a0a;
	}
  .play-btn2{
		height: 1em;
    width: 1em;
    margin-top: 0.8em;
    margin-left: 0.10em;
		cursor: pointer;
    position: absolute;
	}
/*estilos de videos tipo youtube*/

/*div procesos de diseños*/
.seccion-procesos-diseños{
  display: flex;
  flex-wrap: wrap;
  background-color: #f4f4f4f1;
  border-radius: 5px;
  margin-left: 1em;
  gap: 1em;
  width: 500px;
  height: 300px;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

/*div informacion de nosotros (David Alejandro Garzon)*/
.seccion-acerca-de{
  display: flex;
  flex-wrap: wrap;
  background-color: #f4f4f4f1;
  border-radius: 5px;
  margin-left: 1em;
  gap: 1em;
  width: 500px;
  height: 300px;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

  /*navegacion manual*/

  .naveg-manual{
    position: absolute;
    width: 470px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .manual-btn{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  .manual-btn:hover{
    background: #40d3dc; 
  }

  #radio1:checked ~ .first{
    margin-left: 0;
  }
   #radio2:checked ~ .first{
    margin-left: -22%;
  }
   #radio3:checked ~ .first{
    margin-left: -40.8%;
  } 
  #radio4:checked ~ .first{
    margin-left: -62%;
  }
   #radio5:checked ~ .first{
    margin-left: -82%;
  }
   #radio6:checked ~ .first{
    margin-left: -102.2%;
  }

  /*navegacion automatica*/

  .naveg-auto{
     position: absolute;
    width: 470px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
  }

   .naveg-auto div{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }

   .naveg-auto div:not(:last-child){
    margin-right: 40px;
  }

  #radio1:checked ~ .naveg-auto .auto-btn1{
    background: #40d3dc;
  }

   #radio2:checked ~ .naveg-auto .auto-btn2{
    background: #40d3dc;
  }

   #radio3:checked ~ .naveg-auto .auto-btn3{
    background: #40d3dc;
  }

   #radio4:checked ~ .naveg-auto .auto-btn4{
    background: #40d3dc;
  }

   #radio5:checked ~ .naveg-auto .auto-btn5{
    background: #40d3dc;
  }

   #radio6:checked ~ .naveg-auto .auto-btn6{
    background: #40d3dc;
  }

  .imagen img{
  
  width: 100%;
  height: 100%; /*Proporcion de imagenes*/

  }
  .pie{
    display: flex;
    align-items: center;
    width: 1349px;
    height: 196px;
    border-radius: 5px;
    background-image: url("Imagenes y videos/azul_ocuro.jpg");
    background-size: 1349px 500px;
    background-repeat: no-repeat;
    margin-top: auto;
  }
  .fondo_pie{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 650px;
    height: 196px;
   
  }
  .fondo_pie {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    min-width: 250px;
  
  }
  .logo_pie{
    margin: 5px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
    height: 180px;
    
  }
  .logo {
    width: 200px;
  height: 175px;
  }
  .fwht{
    display: flex;
    width: 40px;
    height: 40px;
    align-self: center;
    padding: 5px;
  }
  .femail{
    display: flex;
    width: 40px;
    height: 40px;
    align-self: center;
    padding: 5px;
    margin: 15px;
  }
  .pie h2{
    line-height: 35px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   color: white;
  }

  .info{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
  }