*{
  margin: 0;
  padding: 0;
}
#Fondo{
  margin: 0;
  padding: 0;
  width: 1349px;
  height: 830px;
  display: flex;
  flex-direction: column;
  align-items: center;/*Alinea en eje y */
  justify-content: flex-start;/*Alinea en eje x */
  
  }
   .Desing{
    top: 0;
    left: 0;
 display: flex;
    align-items: flex-start;
  width: 1349px;
  height: 80px;
  margin: 0px;
  padding: 0px;
  background-image: url("Imagenes y videos/Banner_3Desing.png");
  background-size: 1349px 80px;
  background-repeat: no-repeat;
  }
  .logo_cab{
    margin: 5px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70px;
    height: 70px;
  }
  .logoc{
    
    width: 70px;
    height: 70px;
  }
  .bar{
  width: 100px;
  height: 60px;
  }
  .menu{
    margin-top: 10px;
  width: 1300px;
  height: 60px;

  }

  ul{

    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  li a{
  float: left;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 24px;
   font-family: Rashkey, arial;
  
}
li a:hover{
    color: #efb810;
    transition: ease-in;
   }

   p{
    text-align: center;
    font-size: 35px;
    font-family: Rashkey, arial;
    margin-top: 60px;
   }

   p:hover{
    color: #efb810;
    transition: ease-in;
   }

  
  .imagen{
  margin: 10px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 700px;
  height: 400px;
  background-color:#F6F6F6;
  border: 1px solid #0a0a0a;
  }

 

  .img{

  width: 110px;
  height: 50px;
  padding: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color:black;

  }
  .img img{
    width: 100px;
    height: 100px;
  }

  .caja-luz{
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(0,0,0,.5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
  }

   .caja-luz img{
    margin: 5px;
    width: 80vw;
    height: 70vh;
    padding: 5px;
   }
   .caja-luz .apa1{
    width: 960px;
    height: 540px;
   }
   .caja-luz .ft1{
    width: 720px;
    height: 486px;
   }
   .caja-luz .g1{
    width: 470px;
    height: 620px;
   }
   .caja-luz .g2{
    width: 445px;
    height: 600px;
   }
   .caja-luz .g3{
    width: 276px;
    height: 620px;
   }
   .caja-luz .m1{
    width: 1024px;
    height: 503px;
   }
   .caja-luz .ap1{
    width: 800px;
    height: 600px;
   }
   .caja-luz .sat1{
    width: 411px;
    height: 625px;
   }
   .caja-luz .sat2{
    width: 615px;
    height: 545px;
   }
   .caja-luz .fr1{
    width: 800px;
    height: 600px;
   }
   .caja-luz:target{
    transform: scale(1);
   }

   .imagen:hover{
    transform: scale(1.3);
   }

   .cerrar{

    display: block;
    position: absolute;
    top: 40px;
    right: 50px;
    background-color: #851919;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    }

    .next{
    display: block;
    background-color: #851919;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    }

  .pie{
    
    display: flex;
  align-items: center;
  width: 1349px;
  height: 196px;
    border-radius: 5px;
    background-image: url("Imagenes y videos/azul_ocuro.jpg");
    background-size: 1349px 500px;
    background-repeat: no-repeat;
  }
  .fondo_pie{
    display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 650px;
  height: 196px;
   
  }
  .fondo_pie {
    display: flex;
  align-items: center;
  justify-content: center;
    flex-basis: 50%;
  min-width: 250px;
  
  }
  .logo_pie{
    margin: 5px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
  height: 180px;
    
  }
  .logo {
    width: 200px;
  height: 175px;
  }
  .fwht{
    display: flex;
    width: 40px;
    height: 40px;
    align-self: center;
    padding: 5px;
  }
  .femail{
    display: flex;
    width: 40px;
    height: 40px;
    align-self: center;
    padding: 5px;
    margin: 15px;
  }
  .pie h2{
    line-height: 35px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   color: white;
  }

  .info{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
  }