*{
  margin: 0;
  padding: 0;
}
#Fondo{
  margin: 0;
  padding: 0;
  width: 1349px;
  height: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;/*Alinea en eje y */
  justify-content: flex-start;/*Alinea en eje x */
}
.Desing{
    top: 0;
    left: 0;
 display: flex;
    align-items: flex-start;
  width: 1349px;
  height: 80px;
  margin: 0px;
  padding: 0px;
  background-image: url("Imagenes y videos/Banner_3Desing.png");
  background-size: 1349px 80px;
  background-repeat: no-repeat;
  }
  .logo_cab{
    margin: 5px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70px;
    height: 70px;
  }
  .logoc{
    
    width: 70px;
    height: 70px;
  }
  .bar{
  width: 100px;
  height: 60px;
  }
  .menu{
    margin-top: 10px;
  width: 1300px;
  height: 60px;

  }

  ul{

    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  li a{
  float: left;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 24px;
  font-family: Rashkey, arial;
  
}
li a:hover{
    color: #efb810;
    transition: ease-in;
   }

p{
    text-align: center;
    font-size: 35px;
    font-family: Rashkey, arial;
    margin-top: 60px
   }

   p:hover{
    color: #efb810;
    transition: ease-in;
   }

.imagen{
  margin: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 700px;
	height: 500px;
  border-radius: 5px;
	}
	.fila{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
    
	}
	.colu{
		flex-basis: 50%;
		min-width: 250px;
		
	}
	.figura-img{
		width: 80%;
		margin: auto;
		position: relative;
		border-radius: 6px;
		overflow: hidden;
	}
	.peq-img-fila{
		display: flex;
		background:#efefef;
		margin: 20px 0;
		align-items: center;
    justify-content: center;
		border-radius: 6px;
		overflow: hidden;
		width: 85%;
    width:20px; 
    height:100px;
    
	}
	.peq-img{
		position: relative;
	}
	.peq-img img{
		width: 150px;
	}
	.peq-img-fila p{
    display: flex;
    justify-content: center;
    align-items: center;
		margin-left: 20px;
		color: #707070;
		line-height: 20px;
		font-size: 18px;
    margin-bottom: 50px;
	}
	.play-btn1{
		width: 60px;
		height: 60px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		cursor: pointer;
	}
	.play-btn{
		width: 60px;
		height: 60px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		cursor: pointer;
	}
	.peq-img .play-btn{
		width: 20px;
		height: 20px;
	}
	.video-player{
		width: 50%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		display: none;
	}
	video:focus{
		outline: none;
	}
	.cerrar{
   	position: absolute;
   	top: 10px;
   	right: 10px;
   	color:#851919;
   	text-decoration: none;
   	width: 30px;
   	height: 40px;
  	}

  .imagen img{
  
  width: 100%;
  height: 100%; /*Proporcion de imagenes*/

  }

  .pie{
    
    display: flex;
  align-items: center;
  width: 1349px;
  height: 196px;
    border-radius: 5px;
    background-image: url("Imagenes y videos/azul_ocuro.jpg");
    background-size: 1349px 500px;
    background-repeat: no-repeat;
  }
  .fondo_pie{
    display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 650px;
  height: 196px;
   
  }
  .fondo_pie {
    display: flex;
  align-items: center;
  justify-content: center;
    flex-basis: 50%;
  min-width: 250px;
  
  }
  .logo_pie{
    margin: 5px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
  height: 180px;
    
  }
  .logo {
    width: 200px;
  height: 175px;
  }
  .fwht{
    display: flex;
    width: 40px;
    height: 40px;
    align-self: center;
    padding: 5px;
  }
  .femail{
    display: flex;
    width: 40px;
    height: 40px;
    align-self: center;
    padding: 5px;
    margin: 15px;
  }
  .pie h2{
    line-height: 35px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   color: white;
  }

  .info{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
  }
